################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/vimrc_helper/vimrc_helper.vcxproj.user
/vimrc_helper/must_input_vimrc_part.txt
/x64
